
figure {
    margin-top: 30px;
    margin-bottom: 40px;
    width:100%;
}

figure img  {
    display: block;
    margin: 40px auto;
    width: 85%;
}

.contenido a {
    text-decoration:none;
    color:cadetblue;
    font-weight: bold;
}

.contenido a:hover {
    color:rgb(42, 79, 149);
}

.contenido a.btn {
    text-decoration:none;
    color:rgb(41, 113, 115);
    font-weight: bold;
}

.contenido a.btn:hover {
    color: white;
}

iframe.figure {
    display:block;
    margin: 40px auto!important;
}